<div id="<%= dom_id local_de_atendimento %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= local_de_atendimento.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Endereco:</strong>
    <%= local_de_atendimento.endereco %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bairro:</strong>
    <%= local_de_atendimento.bairro %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= local_de_atendimento.cidade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Estado:</strong>
    <%= local_de_atendimento.estado %>
  </div>
</div>
