
<% if turbo_frame_request? %>
  <turbo-frame id="wrap-page">
<% end %>

<% content_for :title, "locals" %>


<div class=" pb-0 mb-4">
 <h2 class="text-gray-700 hover:text-gray-900 text-black mb-4 text-2xl font-medium"> Locais de Atendimento</h2>
</div>

<div class="bg-white p-4 rounded-sm">

<div class=" pb-0 mb-4">
  <%= link_to "Novo local", new_local_de_atendimento_path, class: "w-full sm:w-auto rounded-md px-3.5 
  py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
</div>

  <table class="table-auto w-full border-collapse">
    <thead>
      <tr class="border-b border-gray-200 text-left">
        <th class="px-4 py-2 text-left">Nome</th>
        <th class="px-4 py-2 text-left">Endereço</th>
        <th class="px-4 py-2 text-left">Cidade</th>
        <th class="px-4 py-2 text-left">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if @local_de_atendimentos.any? %>
        <% @local_de_atendimentos.each do |local| %>
          <tr class="border-b border-gray-100">
            <td class="px-4 py-2"><%= local.nome %></td>
            <td class="px-4 py-2"><%= local.endereco %></td>
            <td class="px-4 py-2"><%= local.cidade %></td>
            <td class="px-4 py-2">
              <div class="flex gap-2">
                <%= link_to "Visualizar", local, class: "text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <%= link_to "Editar", edit_local_de_atendimento_path(local), class: "text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <%= button_to "Excluir", local, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Tem certeza que deseja excluir?" } %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center py-4">Nenhum local encontrado.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% if turbo_frame_request? %>
  </turbo-frame>
<% end %>

