<div id="<%= dom_id paciente %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= paciente.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data nascimento:</strong>
    <%= paciente.data_nascimento %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= paciente.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= paciente.telefone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= paciente.cpf %>
  </div>
</div>
