<% if turbo_frame_request? %>
  <turbo-frame id="wrap-page">
<% end %>

<% content_for :title, "Atendimentos" %>

<div class="pb-0 mb-4">
  <h2 class="title-page">Atendimentos</h2>
</div>

<div class="bg-white p-4 rounded-sm">
  <div class="pb-0 mb-4">
    <%= link_to "Novo Atendimento", new_atendimento_path, class: "w-full sm:w-auto rounded-md px-3.5 
    py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>

  <table class="table-auto w-full border-collapse">
    <thead>
      <tr class="border-b border-gray-200 text-left">
        <th class="px-4 py-2">Data da Sessão</th>
        <th class="px-4 py-2">Paciente</th>
        <th class="px-4 py-2">Técnica</th>
        <th class="px-4 py-2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if @atendimentos.any? %>
        <% @atendimentos.each do |atendimento| %>
          <tr class="border-b border-gray-100">
            <td class="px-4 py-2"><%= atendimento.data_sessao.strftime("%d/%m/%Y") if atendimento.data_sessao %></td>
            <td class="px-4 py-2"><%= atendimento.paciente.nome %></td>
            <td class="px-4 py-2"><%= atendimento.tecnica_utilizada %></td>
            <td class="px-4 py-2">
              <div class="flex gap-2">
                <%= link_to "Visualizar", atendimento_path(atendimento), class: "text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <%= link_to "Editar", edit_atendimento_path(atendimento), class: "text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <%= button_to "Excluir", atendimento_path(atendimento), method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Tem certeza que deseja excluir?" } %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center py-4">Nenhum atendimento encontrado.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if turbo_frame_request? %>
  </turbo-frame>
<% end %>
