<div class="w-64 bg-gray-800 text-white">


  <nav class="mt-0">
    <ul>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/home', label: 'Home', icon: 'home' } %>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/clientes', label: 'Pacientes', icon: 'user-plus'} %>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/proprietarios', label: 'Agenda',icon: 'calendar' } %>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/imoveis', label: 'Atendimentos', icon: 'pencil-square' } %>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/contratos', label: 'Prontuário eletrônico', icon: 'home'} %>
      <%= render partial: 'shared/sidebar_item', locals: { href: '/admin/pagamentos', label: 'Locais de Atendimento', icon: 'home' } %>

    </ul>
  </nav>
</div>



